{% extends "base.html" %}

{% block title %}Organize Your Test{% endblock %}

{% block body %}
    <a href="{% url 'index' %}"><button>Record New TestCase</button></a> <a href="{% url 'report' product.id %}"><button>Generate Report</button></a>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" style="background-color:lavenderblush;">
            <p id=myCalendar> </p><br>
            <p id=myTime> </p><br>
            <p>{{message}}</p>
            <h5>Test Run:</h5>
            <form action="{% url 'testrun' testcasename.id %}" method="post">
                {% csrf_token %}
                <input name="testresult" type="text" placeholder="Enter Test Result" required/><br>
                <textarea name="observation" rows="4" cols="50" placeholder="Add Observation"></textarea><br>
                <input type="submit" value="Save" />
            </form>
        </div>
        <div class="col-md-6" style="background-color:lavenderblush;">
            <h5>Test Run:</h5>
            {% for i in testrun %}
                <form id = "{{ i.id }}">{% csrf_token %}
                    <a id="mySelect" href="#" value="{{ i.id }}" name="testcaseTable" class="list-group-item list-group-item-action">Test result: {{ i.result}}; Observation: {{i.observation}} </a>
                </form>
            {% endfor %}
         </div>
        </div>
    </div>

{% endblock %}